In [1]:
#importing the required libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
import pandas as pd
from selenium import webdriver
import time

In [2]:
from selenium.common.exceptions import NoSuchElementException

In [3]:
#let connect with the driver
driver = webdriver.Chrome(r"C:\Users\Nikhil\Downloads\chromedriver_win32 (1)\chromedriver.exe")

In [ ]:
driver.get("https://www.olx.in/noida_g4059326/q-car")

In [ ]:
brand=[]
model=[]
year=[]
fuel=[]
transmission=[]
km_driven=[]
no_of_owners=[]
price=[]

In [ ]:
urls=driver.find_elements_by_xpath("//li[@class='EIR5N']/a")#collecting urls of all the cars
UR=[]
for i in urls[:500]:
    UR.append(i.get_attribute('href'))#getting the url of first 100 car
for url in UR:#loop for every car in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception
        brands=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div[1]/span[2]")#locating the brand name
        brand.append(brands.text)
        
    except NoSuchElementException   as e:
        brand.append("NaN")
        
    try:                  #exception handling for nosuchelementexception
        models=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div[1]/span[2]")#locating the brand name
        model.append(models.text)
        
    except NoSuchElementException   as e:
        model.append("NaN")    
        
    try:                  #exception handling for nosuchelementexception
        years=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div[1]/span[2]")#locating the brand name
        year.append(years.text)
        
    except NoSuchElementException   as e:
        year.append("NaN")
    
    try:                  #exception handling for nosuchelementexception
        fuels=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div[1]/span[2]")#locating the brand name
        fuel.append(fuels.text)
        
    except NoSuchElementException   as e:
        fuel.append("NaN")
    
    try:                  #exception handling for nosuchelementexception
        trans=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div[1]/span[2]")#locating the brand name
        transmission.append(trans.text)
        
    except NoSuchElementException   as e:
        transmission.append("NaN")
    
    try:                  #exception handling for nosuchelementexception
        kms_driven=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div[1]/span[2]")#locating the brand name
        km_driven.append(kms_driven.text)
        
    except NoSuchElementException   as e:
        km_driven.append("NaN")
        
        
    try:                  #exception handling for nosuchelementexception
        owners=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div[1]/span[2]")#locating the brand name
        no_of_owners.append(owners.text)
        
    except NoSuchElementException   as e:
        no_of_owners.append("NaN")
        
        
    try:                  #exception handling for nosuchelementexception
        prices=driver.find_element_by_xpath("//span[@class='_2xKfz']")#locating the brand name
        price.append(prices.text)
        
    except NoSuchElementException   as e:
        price.append("NaN")

In [9]:
len(brand)

500

In [10]:
len(model)

500

In [11]:
len(price)

500

In [12]:
len(fuel)

500

In [13]:
len(year)

500

In [14]:
len(transmission)

500

In [ ]:
len(no_of_owners)

In [ ]:
len(km_driven)

In [ ]:
    df=pd.DataFrame({'Brand':brand,
                     'Model':model,
                     'Price': price,
                     'Fuel':fuel,
                     'Year':year,
                     'Transmission':transmission,
                     'Owners':no_of_owners,
                     'kms driven':km_driven
                     })

In [ ]:
df

In [ ]:
df.to_excel('Car_prices.xlsx', index = False)

In [5]:
driver.get("https://www.olx.in/delhi_g4058659/q-cars?isSearchCall=true")

In [6]:
brand=[]
model=[]
year=[]
fuel=[]
transmission=[]
km_driven=[]
no_of_owners=[]
price=[]

In [7]:
urls=driver.find_elements_by_xpath("//li[@class='EIR5N']/a")#collecting urls of all the cars
UR=[]
for i in urls[:550]:
    UR.append(i.get_attribute('href'))#getting the url of first 100 car
for url in UR:#loop for every car in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception
        brands=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div[1]/span[2]")#locating the brand name
        brand.append(brands.text)
        
    except NoSuchElementException   as e:
        brand.append("NaN")
        
    try:                  #exception handling for nosuchelementexception
        models=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div[1]/span[2]")#locating the brand name
        model.append(models.text)
        
    except NoSuchElementException   as e:
        model.append("NaN")    
        
    try:                  #exception handling for nosuchelementexception
        years=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div[1]/span[2]")#locating the brand name
        year.append(years.text)
        
    except NoSuchElementException   as e:
        year.append("NaN")
    
    try:                  #exception handling for nosuchelementexception
        fuels=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div[1]/span[2]")#locating the brand name
        fuel.append(fuels.text)
        
    except NoSuchElementException   as e:
        fuel.append("NaN")
    
    try:                  #exception handling for nosuchelementexception
        trans=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div[1]/span[2]")#locating the brand name
        transmission.append(trans.text)
        
    except NoSuchElementException   as e:
        transmission.append("NaN")
    
    try:                  #exception handling for nosuchelementexception
        kms_driven=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div[1]/span[2]")#locating the brand name
        km_driven.append(kms_driven.text)
        
    except NoSuchElementException   as e:
        km_driven.append("NaN")
        
        
    try:                  #exception handling for nosuchelementexception
        owners=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div[1]/span[2]")#locating the brand name
        no_of_owners.append(owners.text)
        
    except NoSuchElementException   as e:
        no_of_owners.append("NaN")
        
        
    try:                  #exception handling for nosuchelementexception
        prices=driver.find_element_by_xpath("//span[@class='_2xKfz']")#locating the brand name
        price.append(prices.text)
        
    except NoSuchElementException   as e:
        price.append("NaN")

In [8]:
brand

['Hyundai',
 'Hyundai',
 'Mahindra',
 'Maruti Suzuki',
 'NaN',
 'Toyota',
 'Ford',
 'Maruti Suzuki',
 'BMW',
 'BMW',
 'BMW',
 'Volkswagen',
 'Audi',
 'Maruti Suzuki',
 'Hyundai',
 'Jeep',
 'Ford',
 'BMW',
 'Audi',
 'Hyundai',
 'Hyundai',
 'Renault',
 'Maruti Suzuki',
 'Honda',
 'Maruti Suzuki',
 'Hyundai',
 'Maruti Suzuki',
 'Ford',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Audi',
 'NaN',
 'Maruti Suzuki',
 'Renault',
 'Mahindra',
 'Maruti Suzuki',
 'Audi',
 'Audi',
 'Mahindra',
 'Audi',
 'Maruti Suzuki',
 'Mercedes-Benz',
 'Maruti Suzuki',
 'Honda',
 'Hyundai',
 'Mahindra',
 'Honda',
 'Maruti Suzuki',
 'Mercedes-Benz',
 'Maruti Suzuki',
 'Hyundai',
 'Maruti Suzuki',
 'Ford',
 'Hyundai',
 'Hyundai',
 'Maruti Suzuki',
 'Honda',
 'Maruti Suzuki',
 'Volkswagen',
 'Ford',
 'Mercedes-Benz',
 'Mercedes-Benz',
 'NaN',
 'Maruti Suzuki',
 'Honda',
 'Skoda',
 'Honda',
 'Maruti Suzuki',
 'Mahindra',
 'Maruti Suzuki',
 'Ford',
 'Maruti Suzuki',
 'Tata',
 'Maruti Suzuki',
 'Royal Enfield',
 'Honda',
 'Maruti Suzuki',
 'Honda',
 'Hyundai',
 'Maruti Suzuki',
 'Volkswagen',
 'NaN',
 'Honda',
 'Maruti Suzuki',
 'Honda',
 'Maruti Suzuki',
 'Honda',
 'Hyundai',
 'Honda',
 'Honda',
 'Maruti Suzuki',
 'Ford',
 'Hyundai',
 'Volkswagen',
 'Maruti Suzuki',
 'Honda',
 'Kia',
 'Renault',
 'Hyundai',
 'Maruti Suzuki',
 'Mercedes-Benz',
 'Hyundai',
 'Mahindra',
 'NaN',
 'Maruti Suzuki',
 'Honda',
 'Hyundai',
 'Hyundai',
 'Skoda',
 'Maruti Suzuki',
 'Chevrolet',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Hyundai',
 'Maruti Suzuki',
 'NaN',
 'Honda',
 'Maruti Suzuki',
 'Hyundai',
 'Volkswagen',
 'Maruti Suzuki',
 'Mahindra',
 'NaN',
 'NaN',
 'Toyota',
 'Hyundai',
 'Mahindra',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Hyundai',
 'Nissan',
 'Mercedes-Benz',
 'Maruti Suzuki',
 'Hyundai',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Hyundai',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'NaN',
 'Mahindra',
 'NaN',
 'Hyundai',
 'Hyundai',
 'Hyundai',
 'Ford',
 'Maruti Suzuki',
 'Hyundai',
 'Hyundai',
 'Mitsubishi',
 'Mitsubishi',
 'Honda',
 'Honda',
 'Chevrolet',
 'Hyundai',
 'Maruti Suzuki',
 'Honda',
 'Maruti Suzuki',
 'MG',
 'BMW',
 'Hyundai',
 'NaN',
 'NaN',
 'Hyundai',
 'Hyundai',
 'Maruti Suzuki',
 'Hyundai',
 'Ford',
 'Hyundai',
 'Mercedes-Benz',
 'Hyundai',
 'Maruti Suzuki',
 'Hyundai',
 'Hyundai',
 'Toyota',
 'Audi',
 'Honda',
 'Ford',
 'Hyundai',
 'Volkswagen',
 'BMW',
 'Maruti Suzuki',
 'NaN',
 'Maruti Suzuki',
 'Ford',
 'NaN',
 'Honda',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'NaN',
 'Maruti Suzuki',
 'Toyota',
 'Hyundai',
 'Honda',
 'Maruti Suzuki',
 'Hyundai',
 'Hyundai',
 'Mahindra',
 'NaN',
 'NaN',
 'Maruti Suzuki',
 'Toyota',
 'Hyundai',
 'BMW',
 'Maruti Suzuki',
 'Hyundai',
 'Maruti Suzuki',
 'Renault',
 'Maruti Suzuki',
 'Hyundai',
 'Hyundai',
 'Audi',
 'Maruti Suzuki',
 'Volkswagen',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Honda',
 'NaN',
 'Hyundai',
 'Honda',
 'Hyundai',
 'Maruti Suzuki',
 'Hyundai',
 'NaN',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Toyota',
 'Toyota',
 'Maruti Suzuki',
 'Honda',
 'Hyundai',
 'Renault',
 'Hyundai',
 'Ford',
 'Mahindra',
 'Maruti Suzuki',
 'Toyota',
 'Maruti Suzuki',
 'Hyundai',
 'NaN',
 'NaN',
 'Ford',
 'Hyundai',
 'Mahindra',
 'Renault',
 'Maruti Suzuki',
 'Renault',
 'Maruti Suzuki',
 'Nissan',
 'Renault',
 'Maruti Suzuki',
 'Skoda',
 'Honda',
 'Hyundai',
 'NaN',
 'Skoda',
 'Monthly',
 'NaN',
 'Honda',
 'NaN',
 'NaN',
 'Hyundai',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Chevrolet',
 'Maruti Suzuki',
 'Tata',
 'Hyundai',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Mahindra',
 'Tata',
 'Skoda',
 'Ford',
 'Honda',
 'Hyundai',
 'Toyota',
 'NaN',
 'NaN',
 'Tata',
 'Maruti Suzuki',
 'Tata',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Hyundai',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Hyundai',
 'Maruti Suzuki',
 'NaN',
 'Tata',
 'Ford',
 'Jeep',
 'Honda',
 'Hyundai',
 'NaN',
 'Toyota',
 'Maruti Suzuki',
 'Mahindra',
 'Toyota',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Hyundai',
 'Mahindra',
 'Honda',
 'Chevrolet',
 'Toyota',
 'Toyota',
 'Ssangyong',
 'Volkswagen',
 'Hyundai',
 'Honda',
 'Hyundai',
 'Mahindra',
 'NaN',
 'NaN',
 'Ssangyong',
 'Volkswagen',
 'Hyundai',
 'Hyundai',
 'Audi',
 'Hyundai',
 'Tata',
 'Hyundai',
 'Force Motors',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Chevrolet',
 'Maruti Suzuki',
 'Hyundai',
 'BMW',
 'Audi',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Hyundai',
 'NaN',
 'Ford',
 'BMW',
 'Hyundai',
 'Hyundai',
 'Datsun',
 'Maruti Suzuki',
 'Honda',
 'Hyundai',
 'Mahindra',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Hyundai',
 'NaN',
 'Hyundai',
 'NaN',
 'Maruti Suzuki',
 'Skoda',
 'BMW',
 'Volkswagen',
 'Mercedes-Benz',
 'Honda',
 'Nissan',
 'Volkswagen',
 'Mahindra',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Hyundai',
 'Honda',
 'Hyundai',
 'Hyundai',
 'Hyundai',
 'Honda',
 'Renault',
 'Renault',
 'Hyundai',
 'NaN',
 'Volkswagen',
 'Chevrolet',
 'Hyundai',
 'Maruti Suzuki',
 'Hyundai',
 'Hyundai',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Audi',
 'Renault',
 'Tata',
 'Maruti Suzuki',
 'Toyota',
 'Hyundai',
 'Maruti Suzuki',
 'Honda',
 'Jaguar',
 'Jaguar',
 'NaN',
 'Hyundai',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Hyundai',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Toyota',
 'Maruti Suzuki',
 'Hyundai',
 'Kia',
 'Toyota',
 'Toyota',
 'Maruti Suzuki',
 'Hyundai',
 'Maruti Suzuki',
 'Mercedes-Benz',
 'Monthly',
 'Audi',
 'NaN',
 'NaN',
 'Renault',
 'BMW',
 'Nissan',
 'Chevrolet',
 'Nissan',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Honda',
 'Maruti Suzuki',
 'Honda',
 'Hyundai',
 'Ford',
 'Chevrolet',
 'Hyundai',
 'Volkswagen',
 'Chevrolet',
 'Maruti Suzuki',
 'NaN',
 'Maruti Suzuki',
 'NaN',
 'Maruti Suzuki',
 'Toyota',
 'Honda',
 'Datsun',
 'Hyundai',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Honda',
 'Hyundai',
 'Toyota',
 'Volkswagen',
 'Ford',
 'Maruti Suzuki',
 'Toyota',
 'Hyundai',
 'Mahindra',
 'Toyota',
 'NaN',
 'Tata',
 'Maruti Suzuki',
 'Toyota',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Ford',
 'Hyundai',
 'Maruti Suzuki',
 'Hyundai',
 'Hyundai',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Hyundai',
 'Hyundai',
 'Maruti Suzuki',
 'Renault',
 'Volkswagen',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'NaN',
 'NaN',
 'Hyundai',
 'Hyundai',
 'Maruti Suzuki',
 'Chevrolet',
 'Honda',
 'Ford',
 'Hyundai',
 'Maruti Suzuki',
 'Hyundai',
 'Honda',
 'Maruti Suzuki',
 'Mahindra',
 'Honda',
 'Mahindra',
 'Maruti Suzuki']

In [15]:
    df=pd.DataFrame({'Brand':brand,
                     'Model':model,
                     'Price': price,
                     'Fuel':fuel,
                     'Year':year,
                     'Transmission':transmission,
                     'Owners':no_of_owners,
                     'kms driven':km_driven
                     })

In [16]:
df

,Brand,Model,Price,Fuel,Year,Transmission,Owners,kms driven
0,Hyundai,Santro Xing,"₹ 83,000",Petrol,2007,Manual,2nd,"75,000 km"
1,Hyundai,Elite i20,"₹ 6,70,000",Petrol,2020,Manual,1st,"10,200 km"
2,Mahindra,XUV500,"₹ 5,50,000",Diesel,2014,Manual,2nd,"60,000 km"
3,Maruti Suzuki,Wagon R,"₹ 99,000",Petrol,2009,Manual,3rd,"70,000 km"
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
495,Maruti Suzuki,Celerio,"₹ 3,95,000",CNG & Hybrids,2017,Manual,1st,"50,000 km"
496,Mahindra,Scorpio,"₹ 3,00,000",Diesel,2011,Manual,2nd,"75,000 km"
497,Honda,Amaze,"₹ 3,25,000",Petrol,2014,Manual,1st,"52,000 km"
498,Mahindra,Scorpio,"₹ 3,25,000",Diesel,2011,Manual,1st,"75,000 km"
499,Maruti Suzuki,Wagon R 1.0,"₹ 2,11,000",CNG & Hybrids,2011,Manual,2nd,"62,000 km"

In [17]:
df.to_excel('Car_prices1.xlsx', index = False)

In [4]:
driver.get("https://www.olx.in/mumbai_g4058997/q-cars?isSearchCall=true")

In [5]:
brand=[]
model=[]
year=[]
fuel=[]
transmission=[]
km_driven=[]
no_of_owners=[]
price=[]

In [6]:
urls=driver.find_elements_by_xpath("//li[@class='EIR5N']/a")#collecting urls of all the cars
UR=[]
for i in urls[:550]:
    UR.append(i.get_attribute('href'))#getting the url of first 100 car
for url in UR:#loop for every car in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception
        brands=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div[1]/span[2]")#locating the brand name
        brand.append(brands.text)
        
    except NoSuchElementException   as e:
        brand.append("NaN")
        
    try:                  #exception handling for nosuchelementexception
        models=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div[1]/span[2]")#locating the brand name
        model.append(models.text)
        
    except NoSuchElementException   as e:
        model.append("NaN")    
        
    try:                  #exception handling for nosuchelementexception
        years=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div[1]/span[2]")#locating the brand name
        year.append(years.text)
        
    except NoSuchElementException   as e:
        year.append("NaN")
    
    try:                  #exception handling for nosuchelementexception
        fuels=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div[1]/span[2]")#locating the brand name
        fuel.append(fuels.text)
        
    except NoSuchElementException   as e:
        fuel.append("NaN")
    
    try:                  #exception handling for nosuchelementexception
        trans=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div[1]/span[2]")#locating the brand name
        transmission.append(trans.text)
        
    except NoSuchElementException   as e:
        transmission.append("NaN")
    
    try:                  #exception handling for nosuchelementexception
        kms_driven=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div[1]/span[2]")#locating the brand name
        km_driven.append(kms_driven.text)
        
    except NoSuchElementException   as e:
        km_driven.append("NaN")
        
        
    try:                  #exception handling for nosuchelementexception
        owners=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div[1]/span[2]")#locating the brand name
        no_of_owners.append(owners.text)
        
    except NoSuchElementException   as e:
        no_of_owners.append("NaN")
        
        
    try:                  #exception handling for nosuchelementexception
        prices=driver.find_element_by_xpath("//span[@class='_2xKfz']")#locating the brand name
        price.append(prices.text)
        
    except NoSuchElementException   as e:
        price.append("NaN")

['Mercedes-Benz',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'Honda',
 'Maruti Suzuki',
 'Honda',
 'Hyundai',
 'Mercedes-Benz',
 'Tata',
 'Others',
 'Others',
 'Mahindra',
 'Toyota',
 'Tata',
 'Honda',
 'Toyota',
 'Hyundai',
 'Toyota',
 'Maruti Suzuki',
 'NaN',
 'Volkswagen',
 'Mahindra',
 'Maruti Suzuki',
 'Honda',
 'Mercedes-Benz',
 'Mercedes-Benz',
 'Volkswagen',
 'Hyundai',
 'Jeep',
 'Ford',
 'Mercedes-Benz',
 'Nissan',
 'Hyundai',
 'Maruti Suzuki',
 'Audi',
 'Hyundai',
 'Maruti Suzuki',
 'Hyundai',
 'Volkswagen',
 'Audi',
 'Hyundai',
 'Maruti Suzuki',
 'Honda',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Mini',
 'Maruti Suzuki',
 'Toyota',
 'Renault',
 'Maruti Suzuki',
 'Chevrolet',
 'Hyundai',
 'Toyota',
 'Honda',
 'Maruti Suzuki',
 'Volvo',
 'Mercedes-Benz',
 'Maruti Suzuki',
 'NaN',
 'Maruti Suzuki',
 'NaN',
 'NaN',
 'Toyota',
 'Hyundai',
 'Volkswagen',
 'Maruti Suzuki',
 'Toyota',
 'Skoda',
 'Hyundai',
 'Mercedes-Benz',
 'Taxi Cabs',
 'Maruti Suzuki',
 'Ford',
 'Maruti Suzuki',
 'Taxi Cabs',
 'Toyota',
 'Hyundai',
 'BMW',
 'Kia',
 'NaN',
 'NaN',
 'NaN',
 'Audi',
 'Skoda',
 'Honda',
 'Audi',
 'Volvo',
 'Hyundai',
 'Skoda',
 'Skoda',
 'Mercedes-Benz',
 'Hyundai',
 'Jaguar',
 'Mercedes-Benz',
 'Toyota',
 'NaN',
 'Mini',
 'Mercedes-Benz',
 'Toyota',
 'Hyundai',
 'Honda',
 'NaN',
 'Maruti Suzuki',
 'Tata',
 'BMW',
 'Maruti Suzuki',
 'Hyundai',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'BMW',
 'Mercedes-Benz',
 'Mercedes-Benz',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Honda',
 'Honda',
 'Skoda',
 'Hyundai',
 'Maruti Suzuki',
 'Chevrolet',
 'NaN',
 'Chevrolet',
 'Fiat',
 'Tata',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Tata',
 'Toyota',
 'Honda',
 'Audi',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'Hyundai',
 'Volkswagen',
 'Hyundai',
 'Hyundai',
 'Mahindra',
 'NaN',
 'NaN',
 'NaN',
 'Mercedes-Benz',
 'Hyundai',
 'Volkswagen',
 'Honda',
 'NaN',
 'Chevrolet',
 'NaN',
 'NaN',
 'Maruti Suzuki',
 'Mahindra',
 'Honda',
 'Mahindra',
 'NaN',
 'BMW',
 'Maruti Suzuki',
 'NaN',
 'Toyota',
 'Hyundai',
 'Toyota',
 'Maruti Suzuki',
 'NaN',
 'Hyundai',
 'NaN',
 'NaN',
 'Ford',
 'Hyundai',
 'Skoda',
 'Ford',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Honda',
 'NaN',
 'NaN',
 'BMW',
 'Maruti Suzuki',
 'Chevrolet',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'NaN',
 'NaN',
 'NaN',
 'Maruti Suzuki',
 'Datsun',
 'Chevrolet',
 'Volkswagen',
 'Maruti Suzuki',
 'Mini',
 'Maruti Suzuki',
 'Toyota',
 'Hyundai',
 'Maruti Suzuki',
 'NaN',
 'Mercedes-Benz',
 'Renault',
 'Maruti Suzuki',
 'Hyundai',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'Audi',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'Mahindra',
 'Hyundai',
 'Renault',
 'NaN',
 'NaN',
 'Toyota',
 'Hyundai',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Toyota',
 'Tata',
 'Hyundai',
 'NaN',
 'NaN',
 'Skoda',
 'Hyundai',
 'NaN',
 'Skoda',
 'NaN',
 'NaN',
 'Maruti Suzuki',
 'NaN',
 'Maruti Suzuki',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'Honda',
 'Maruti Suzuki',
 'Honda',
 'Maruti Suzuki',
 'Hyundai',
 'Honda',
 'Mercedes-Benz',
 'Land Rover',
 'Bentley',
 'Mercedes-Benz',
 'NaN',
 'Renault',
 'Maruti Suzuki',
 'Volkswagen',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'Hyundai',
 'Maruti Suzuki',
 'NaN',
 'NaN',
 'NaN',
 'Toyota',
 'Mahindra',
 'Volkswagen',
 'Hyundai',
 'Maruti Suzuki',
 'Skoda',
 'NaN',
 'Hyundai',
 'Maruti Suzuki',
 'Volkswagen',
 'NaN',
 'NaN',
 'NaN',
 'NaN',
 'Hyundai',
 'Tata',
 'Mahindra',
 'Maruti Suzuki',
 'Hyundai',
 'NaN',
 'NaN',
 'Maruti Suzuki',
 'Tata',
 'Hyundai',
 'Hyundai',
 'Toyota',
 'Mahindra',
 'Hyundai',
 'Jeep',
 'Hyundai',
 'NaN',
 'NaN',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Jeep',
 'Honda',
 'Hyundai',
 'Toyota',
 'Tata',
 'Toyota',
 'Honda',
 'NaN',
 'Hyundai',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Mercedes-Benz',
 'Land Rover',
 'Maruti Suzuki',
 'Hyundai',
 'Hyundai',
 'NaN',
 'Maruti Suzuki',
 'Hyundai',
 'Other Brands',
 'Volvo',
 'Mercedes-Benz',
 'Mercedes-Benz',
 'Hyundai',
 'Skoda',
 'Maruti Suzuki',
 'Hyundai',
 'Skoda',
 'Fiat',
 'BMW',
 'Mercedes-Benz',
 'Toyota',
 'Maruti Suzuki',
 'Toyota',
 'Hyundai',
 'NaN',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Volkswagen',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Hyundai',
 'Honda',
 'Hyundai',
 'Toyota',
 'Maruti Suzuki',
 'Audi',
 'Tata',
 'Hyundai',
 'Maruti Suzuki',
 'Hyundai',
 'Hyundai',
 'Maruti Suzuki',
 'NaN',
 'Volkswagen',
 'Maruti Suzuki',
 'Toyota',
 'NaN',
 'Hyundai',
 'Taxi Cabs',
 'Pick-up vans / Pick-up trucks',
 'Honda',
 'Mahindra',
 'Toyota',
 'Hyundai',
 'Bentley',
 'Toyota',
 'Bentley',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Ford',
 'Honda',
 'Hyundai',
 'Maruti Suzuki',
 'Toyota',
 'Hyundai',
 'NaN',
 'NaN',
 'Renault',
 'Honda',
 'Hyundai',
 'Skoda',
 'Tata',
 'Toyota',
 'Maruti Suzuki',
 'Honda',
 'Maruti Suzuki',
 'Volkswagen',
 'Tata',
 'Honda',
 'Maruti Suzuki',
 'Skoda',
 'Hyundai',
 'Toyota',
 'Hyundai',
 'Volkswagen',
 'Maruti Suzuki',
 'NaN',
 'Volkswagen',
 'Maruti Suzuki',
 'Hyundai',
 'Mercedes-Benz',
 'Toyota',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Mercedes-Benz',
 'Land Rover',
 'Maruti Suzuki',
 'Hyundai',
 'Maruti Suzuki',
 'Honda',
 'NaN',
 'NaN',
 'Maruti Suzuki',
 'NaN',
 'Hyundai',
 'Hyundai',
 'Toyota',
 'Skoda',
 'BMW',
 'BMW',
 'Mercedes-Benz',
 'Volkswagen',
 'Renault',
 'Ford',
 'Skoda',
 'Mahindra',
 'Maruti Suzuki',
 'Toyota',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Tata',
 'NaN',
 'Skoda',
 'Hyundai',
 'NaN',
 'Skoda',
 'Mahindra',
 'Maruti Suzuki',
 'Toyota',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'BMW',
 'Maruti Suzuki',
 'Hyundai',
 'Maruti Suzuki',
 'Renault',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Hyundai',
 'Maruti Suzuki',
 'Toyota',
 'Skoda',
 'Volkswagen',
 'Mahindra',
 'NaN',
 'Jaguar',
 'Tata',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Ford',
 'Mahindra',
 'Maruti Suzuki',
 'Honda',
 'Taxi Cabs',
 'Mercedes-Benz',
 'Maruti Suzuki',
 'Toyota',
 'Mahindra',
 'Maruti Suzuki',
 'Skoda',
 'Maruti Suzuki',
 'Hyundai',
 'Honda',
 'NaN',
 'Toyota',
 'Maruti Suzuki',
 'Mahindra',
 'Mahindra',
 'Maruti Suzuki',
 'Honda',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Honda',
 'NaN',
 'Maruti Suzuki',
 'Maruti Suzuki',
 'Nissan',
 'BMW',
 'Mahindra']

In [8]:
    df=pd.DataFrame({'Brand':brand,
                     'Model':model,
                     'Price': price,
                     'Fuel':fuel,
                     'Year':year,
                     'Transmission':transmission,
                     'Owners':no_of_owners,
                     'kms driven':km_driven
                     })

,Brand,Model,Price,Fuel,Year,Transmission,Owners,kms driven
0,Mercedes-Benz,New C-Class,"₹ 8,90,000",Petrol,2012,Automatic,2nd,"77,000 km"
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
495,Maruti Suzuki,Wagon R,"₹ 2,99,999",CNG & Hybrids,2012,Manual,2nd,"17,846 km"
496,Maruti Suzuki,Celerio,"₹ 30,000",CNG & Hybrids,2021,Manual,1st,123 km
497,Nissan,Sunny,"₹ 3,25,000",Diesel,2012,Manual,2nd,"119,120 km"
498,BMW,3 Series,"₹ 23,75,000",Diesel,2017,Automatic,1st,"41,821 km"
499,Mahindra,XUV500,"₹ 10,50,000",Diesel,2017,Manual,1st,"65,000 km"

In [10]:
df.to_excel('Car_prices2.xlsx', index = False)

In [4]:
driver.get("https://www.olx.in/gurgaon_g4058748/q-cars")

In [5]:
brand=[]
model=[]
year=[]
fuel=[]
transmission=[]
km_driven=[]
no_of_owners=[]
price=[]

In [6]:
urls=driver.find_elements_by_xpath("//li[@class='EIR5N']/a")#collecting urls of all the cars
UR=[]
for i in urls[:550]:
    UR.append(i.get_attribute('href'))#getting the url of first 100 car
for url in UR:#loop for every car in the list
    driver.get(url)
    try:                  #exception handling for nosuchelementexception
        brands=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[1]/div[1]/span[2]")#locating the brand name
        brand.append(brands.text)
        
    except NoSuchElementException   as e:
        brand.append("NaN")
        
    try:                  #exception handling for nosuchelementexception
        models=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[2]/div[1]/span[2]")#locating the brand name
        model.append(models.text)
        
    except NoSuchElementException   as e:
        model.append("NaN")    
        
    try:                  #exception handling for nosuchelementexception
        years=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[4]/div[1]/span[2]")#locating the brand name
        year.append(years.text)
        
    except NoSuchElementException   as e:
        year.append("NaN")
    
    try:                  #exception handling for nosuchelementexception
        fuels=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[5]/div[1]/span[2]")#locating the brand name
        fuel.append(fuels.text)
        
    except NoSuchElementException   as e:
        fuel.append("NaN")
    
    try:                  #exception handling for nosuchelementexception
        trans=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[6]/div[1]/span[2]")#locating the brand name
        transmission.append(trans.text)
        
    except NoSuchElementException   as e:
        transmission.append("NaN")
    
    try:                  #exception handling for nosuchelementexception
        kms_driven=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[7]/div[1]/span[2]")#locating the brand name
        km_driven.append(kms_driven.text)
        
    except NoSuchElementException   as e:
        km_driven.append("NaN")
        
        
    try:                  #exception handling for nosuchelementexception
        owners=driver.find_element_by_xpath("//div[@class='_3JPEe']/div[8]/div[1]/span[2]")#locating the brand name
        no_of_owners.append(owners.text)
        
    except NoSuchElementException   as e:
        no_of_owners.append("NaN")
        
        
    try:                  #exception handling for nosuchelementexception
        prices=driver.find_element_by_xpath("//span[@class='_2xKfz']")#locating the brand name
        price.append(prices.text)
        
    except NoSuchElementException   as e:
        price.append("NaN")

In [7]:
    df=pd.DataFrame({'Brand':brand,
                     'Model':model,
                     'Price': price,
                     'Fuel':fuel,
                     'Year':year,
                     'Transmission':transmission,
                     'Owners':no_of_owners,
                     'kms driven':km_driven
                     })

In [8]:
df

,Brand,Model,Price,Fuel,Year,Transmission,Owners,kms driven
0,Volkswagen,Ameo,"₹ 5,60,000",Manual,Diesel,"77,747 km",NaN,NaN
1,Toyota,Yaris,"₹ 8,78,000",Petrol,2018,Manual,NaN,"14,772 km"
2,Maruti Suzuki,Vitara Brezza,"₹ 8,01,600",Diesel,2017,Manual,1st,"84,501 km"
3,Hyundai,Santa Fe,"₹ 4,00,000",Diesel,2011,Manual,1st,"120,000 km"
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
495,Maruti Suzuki,Swift Dzire,"₹ 3,50,000",Diesel,2013,Manual,1st,"88,550 km"
496,Ford,Figo,"₹ 1,65,000",Diesel,2012,Manual,1st,"71,000 km"
497,Datsun,Redi Go,"₹ 2,48,000",Manual,Petrol,"34,795 km",NaN,NaN
498,Volkswagen,Polo,"₹ 3,94,000",Manual,Diesel,"59,251 km",NaN,NaN
499,Maruti Suzuki,Celerio X,"₹ 4,47,000",Automatic,Petrol,"29,486 km",NaN,NaN

In [9]:
df.to_excel('Car_prices3.xlsx', index = False)

In [4]:
driver.get("https://www.cars24.com/buy-used-cars-new-delhi/?itm_source=Cars24Website&itm_medium=sticky_header")

In [6]:
brand=[]
year=[]
fuel=[]
transmission=[]
km_driven=[]
no_of_owners=[]
price=[]

In [7]:
urls=driver.find_elements_by_xpath("//div[@class='row']/div/div/div[2]/a")#collecting urls of all the cars
UR=[]
for i in urls[:700]:
    UR.append(i.get_attribute('href'))#getting the url of first 100 car
for url in UR:#loop for every car in the list
    driver.get(url)
        
        
    try:                  #exception handling for nosuchelementexception
        brands=driver.find_element_by_xpath("//p[@class='_3Uk5w']")#locating the brand name
        brand.append(brands.text)
        
    except NoSuchElementException   as e:
        brand.append("NaN")
        
    
    try:                  #exception handling for nosuchelementexception
        kms_driven=driver.find_element_by_xpath("//div[@class='row']/div/div/div/p")#locating the brand name
        km_driven.append(kms_driven.text)
        
    except NoSuchElementException   as e:
        km_driven.append("NaN")
        
    try:                  #exception handling for nosuchelementexception
        years=driver.find_element_by_xpath("//div[@class='row']/div[2]/div/div/p")#locating the brand name
        year.append(years.text)
        
    except NoSuchElementException   as e:
        year.append("NaN")
    
    try:                  #exception handling for nosuchelementexception
        owners=driver.find_element_by_xpath("//div[@class='row']/div[3]/div/div/p")#locating the brand name
        no_of_owners.append(owners.text)
        
    except NoSuchElementException   as e:
        no_of_owners.append("NaN")
    
    try:                  #exception handling for nosuchelementexception
        fuels=driver.find_element_by_xpath("//div[@class='row']/div[4]/div/div/p")#locating the brand name
        fuel.append(fuels.text)
        
    except NoSuchElementException   as e:
        fuel.append("NaN")
    
    try:                  #exception handling for nosuchelementexception
        trans=driver.find_element_by_xpath("//div[@class='row']/div[5]/div/div/p")#locating the brand name
        transmission.append(trans.text)
        
    except NoSuchElementException   as e:
        transmission.append("NaN")
        
        
    try:                  #exception handling for nosuchelementexception
        prices=driver.find_element_by_xpath("//h4[@class='_3AzX6']")#locating the brand name
        price.append(prices.text)
        
    except NoSuchElementException   as e:
        price.append("NaN")

In [8]:
len(brand)

611

In [8]:
year

['August 2017',
 'May 2013',
 'June 2017',
 'November 2017',
 'February 2015',
 'August 2019',
 'October 2014',
 'July 2011',
 'April 2013',
 'March 2016',
 'December 2017',
 'March 2010',
 'January 2010',
 'March 2012',
 'July 2019',
 'January 2014',
 'April 2012',
 'July 2017',
 'April 2012',
 'August 2017',
 'May 2013',
 'February 2014',
 'February 2013',
 'October 2009',
 'January 2020',
 'February 2016',
 'January 2012',
 'September 2017',
 'February 2012',
 'June 2016',
 'April 2010',
 'December 2010',
 'February 2011',
 'August 2010',
 'October 2013',
 'March 2013',
 'June 2013',
 'June 2012',
 'February 2011',
 'October 2016',
 'November 2012',
 'January 2011',
 'February 2010',
 'August 2016',
 'October 2013',
 'October 2013',
 'December 2012',
 'February 2010',
 'January 2019',
 'November 2013',
 'January 2012',
 'July 2017',
 'January 2011',
 'December 2014',
 'February 2015',
 'September 2013',
 'November 2010',
 'June 2012',
 'March 2017',
 'November 2013',
 'May 2009',
 'January 2012',
 'August 2014',
 'February 2016',
 'November 2012',
 'March 2017',
 'September 2018',
 'November 2015',
 'May 2016',
 'January 2014',
 'June 2010',
 'April 2018',
 'November 2013',
 'June 2018',
 'January 2010',
 'July 2010',
 'September 2012',
 'February 2009',
 'October 2015',
 'July 2011',
 'January 2011',
 'June 2016',
 'January 2017',
 'November 2012',
 'February 2020',
 'February 2020',
 'October 2012',
 'February 2013',
 'January 2018',
 'July 2014',
 'October 2014',
 'August 2010',
 'April 2013',
 'July 2016',
 'February 2011',
 'June 2014',
 'July 2016',
 'January 2011',
 'March 2012',
 'February 2015',
 'October 2014',
 'January 2012',
 'January 2019',
 'August 2013',
 'November 2010',
 'February 2014',
 'April 2010',
 'June 2008',
 'January 2015',
 'August 2020',
 'February 2017',
 'October 2017',
 'May 2015',
 'June 2015',
 'October 2013',
 'January 2017',
 'September 2010',
 'December 2015',
 'November 2010',
 'January 2011',
 'July 2016',
 'November 2016',
 'May 2012',
 'January 2009',
 'November 2013',
 'March 2013',
 'September 2020',
 'January 2016',
 'February 2018',
 'October 2011',
 'November 2012',
 'December 2012',
 'March 2015',
 'May 2019',
 'September 2008',
 'August 2013',
 'July 2015',
 'March 2013',
 'July 2009',
 'March 2015',
 'March 2011',
 'June 2010',
 'February 2012',
 'August 2011',
 'September 2016',
 'August 2013',
 'January 2018',
 'October 2009',
 'April 2016',
 'August 2008',
 'March 2010',
 'March 2015',
 'February 2015',
 'April 2009',
 'June 2018',
 'August 2016',
 'November 2012',
 'June 2014',
 'March 2016',
 'February 2008',
 'December 2017',
 'November 2012',
 'September 2013',
 'March 2011',
 'March 2015',
 'March 2008',
 'August 2017',
 'October 2014',
 'April 2015',
 'June 2009',
 'December 2019',
 'January 2008',
 'May 2017',
 'August 2014',
 'June 2016',
 'August 2015',
 'October 2014',
 'May 2013',
 'March 2015',
 'June 2013',
 'January 2011',
 'March 2014',
 'February 2010',
 'January 2011',
 'August 2008',
 'April 2012',
 'October 2013',
 'August 2013',
 'October 2008',
 'May 2014',
 'January 2013',
 'May 2014',
 'August 2016',
 'July 2012',
 'November 2015',
 'February 2012',
 'March 2013',
 'August 2011',
 'March 2014',
 'February 2012',
 'December 2008',
 'August 2015',
 'October 2013',
 'July 2013',
 'June 2013',
 'June 2012',
 'January 2010',
 'December 2014',
 'April 2016',
 'January 2011',
 'January 2015',
 'May 2018',
 'October 2013',
 'January 2013',
 'August 2009',
 'March 2013',
 'September 2009',
 'January 2013',
 'June 2013',
 'August 2013',
 'July 2010',
 'May 2012',
 'February 2015',
 'May 2016',
 'February 2016',
 'February 2012',
 'May 2013',
 'October 2012',
 'October 2016',
 'February 2008',
 'May 2017',
 'October 2012',
 'July 2015',
 'January 2019',
 'June 2011',
 'May 2012',
 'NaN',
 'July 2014',
 'NaN',
 'NaN',
 'November 2012',
 'January 2019',
 'October 2016',
 'September 2012',
 'March 2016',
 'February 2014',
 'NaN',
 'July 2018',
 'NaN',
 'NaN',
 'April 2017',
 'October 2012',
 'April 2012',
 'May 2012',
 'August 2012',
 'June 2017',
 'October 2012',
 'January 2013',
 'March 2012',
 'NaN',
 'September 2012',
 'February 2015',
 'April 2012',
 'November 2013',
 'March 2013',
 'NaN',
 'January 2008',
 'November 2012',
 'June 2019',
 'January 2015',
 'March 2013',
 'November 2013',
 'July 2008',
 'June 2010',
 'March 2013',
 'March 2017',
 'November 2012',
 'December 2009',
 'December 2013',
 'January 2008',
 'November 2013',
 'October 2013',
 'July 2019',
 'January 2013',
 'June 2014',
 'April 2014',
 'July 2016',
 'January 2013',
 'July 2012',
 'April 2010',
 'June 2008',
 'December 2014',
 'February 2015',
 'July 2016',
 'October 2017',
 'September 2010',
 'July 2008',
 'March 2015',
 'January 2013',
 'August 2014',
 'April 2012',
 'July 2012',
 'August 2017',
 'July 2019',
 'November 2016',
 'June 2009',
 'February 2015',
 'January 2012',
 'December 2012',
 'January 2013',
 'January 2015',
 'January 2014',
 'May 2017',
 'January 2014',
 'March 2015',
 'March 2016',
 'April 2014',
 'July 2018',
 'January 2015',
 'June 2012',
 'June 2012',
 'February 2008',
 'December 2014',
 'January 2015',
 'July 2010',
 'June 2014',
 'July 2012',
 'March 2011',
 'January 2008',
 'September 2018',
 'January 2015',
 'December 2014',
 'February 2019',
 'February 2013',
 'January 2015',
 'February 2018',
 'June 2014',
 'March 2013',
 'July 2016',
 'November 2011',
 'April 2011',
 'September 2014',
 'February 2012',
 'May 2013',
 'December 2012',
 'January 2013',
 'April 2013',
 'August 2012',
 'February 2015',
 'August 2013',
 'June 2015',
 'May 2013',
 'March 2012',
 'January 2011',
 'October 2013',
 'May 2019',
 'December 2012',
 'July 2016',
 'January 2015',
 'February 2013',
 'November 2007',
 'February 2014',
 'January 2013',
 'February 2013',
 'March 2015',
 'January 2019',
 'January 2015',
 'January 2013',
 'May 2012',
 'March 2015',
 'March 2016',
 'March 2014',
 'July 2014',
 'January 2013',
 'July 2012',
 'February 2010',
 'November 2016',
 'March 2011',
 'May 2012',
 'July 2015',
 'October 2017',
 'April 2016',
 'December 2012',
 'May 2013',
 'March 2016',
 'June 2015',
 'March 2012',
 'May 2018',
 'June 2012',
 'September 2012',
 'February 2017',
 'February 2013',
 'July 2016',
 'January 2013',
 'September 2014',
 'March 2016',
 'April 2013',
 'July 2014',
 'February 2014',
 'January 2013',
 'January 2017',
 'July 2017',
 'January 2010',
 'May 2011',
 'January 2018',
 'May 2012',
 'March 2012',
 'July 2013',
 'August 2016',
 'March 2015',
 'January 2018',
 'March 2015',
 'January 2012',
 'July 2013',
 'June 2015',
 'August 2014',
 'April 2014',
 'March 2012',
 'November 2014',
 'August 2015',
 'September 2013',
 'March 2009',
 'March 2016',
 'August 2012',
 'June 2010',
 'July 2014',
 'February 2012',
 'April 2016',
 'April 2016',
 'July 2012',
 'March 2016',
 'May 2012',
 'September 2015',
 'May 2015',
 'September 2015',
 'September 2012',
 'February 2012',
 'December 2009',
 'February 2017',
 'August 2007',
 'February 2015',
 'October 2013',
 'January 2015',
 'August 2015',
 'March 2015',
 'August 2010',
 'May 2013',
 'April 2015',
 'October 2015',
 'August 2015',
 'February 2018',
 'January 2012',
 'June 2013',
 'April 2016',
 'June 2012',
 'August 2017',
 'October 2012',
 'March 2015',
 'May 2017',
 'November 2012',
 'October 2010',
 'July 2013',
 'January 2014',
 'June 2012',
 'September 2013',
 'April 2015',
 'March 2015',
 'September 2013',
 'February 2013',
 'August 2016',
 'April 2015',
 'January 2013',
 'January 2015',
 'March 2013',
 'December 2015',
 'September 2012',
 'March 2014',
 'August 2013',
 'May 2013',
 'January 2014',
 'March 2014',
 'January 2014',
 'March 2012',
 'July 2014',
 'August 2015',
 'January 2013',
 'September 2013',
 'May 2012',
 'July 2013',
 'February 2013',
 'October 2016',
 'February 2015',
 'July 2014',
 'March 2010',
 'March 2013',
 'October 2011',
 'May 2012',
 'November 2013',
 'April 2013',
 'December 2012',
 'October 2015',
 'January 2013',
 'June 2014',
 'April 2013',
 'February 2014',
 'August 2013',
 'March 2013',
 'September 2015',
 'April 2014',
 'June 2017',
 'October 2012',
 'February 2013',
 'July 2009',
 'February 2015',
 'December 2013',
 'August 2013',
 'March 2008',
 'January 2015',
 'November 2013',
 'February 2015']

In [10]:
    df=pd.DataFrame({'Brand':brand,
                     'Price': price,
                     'Fuel':fuel,
                     'Year':year,
                     'Transmission':transmission,
                     'Owners':no_of_owners,
                     'kms driven':km_driven
                     })

In [11]:
df

,Brand,Price,Fuel,Year,Transmission,Owners,kms driven
0,2017 Maruti Alto 800 VXI,"₹ 2,75,099",Petrol,August 2017,MANUAL,Second Owner,"12,676 km"
1,2013 Maruti Swift ZDI,"₹ 3,94,199",Diesel,May 2013,MANUAL,First Owner,"24,022 km"
2,2017 Maruti Alto 800 LXI,"₹ 3,09,499",Petrol,June 2017,MANUAL,First Owner,"8,501 km"
3,2017 Hyundai Grand i10 Sportz(O) 1.2 MT,"₹ 4,52,899",Petrol,November 2017,MANUAL,Second Owner,"19,994 km"
4,2015 Maruti Alto K10 LXI,"₹ 3,02,099",Petrol,February 2015,MANUAL,First Owner,"10,957 km"
...,...,...,...,...,...,...,...
515,2013 Maruti Swift Dzire ZDI,"₹ 3,85,999",Diesel,August 2013,MANUAL,First Owner,"1,38,136 km"
516,2008 Honda CRV 2.0 MT,"₹ 4,39,199",Petrol,March 2008,MANUAL,First Owner,"1,91,022 km"
517,2015 Mahindra Scorpio S10,"₹ 8,54,899",Diesel,January 2015,MANUAL,First Owner,"1,30,028 km"
518,2013 Hyundai Eon ERA PLUS,"₹ 2,26,699",Petrol,November 2013,MANUAL,First Owner,"1,13,870 km"
519,2015 Toyota Innova 2.5 GX 8 STR BS IV,"₹ 7,11,599",Diesel,February 2015,MANUAL,Second Owner,"76,940 km"

In [12]:
df.to_excel('Car_prices4.xlsx', index = False)

In [6]:
url = "https://www.cars24.com/buy-used-cars-noida/?itm_source=Cars24Website&itm_medium=sticky_header"

In [7]:
driver.get(url)

In [11]:
    df=pd.DataFrame({'Brand':brand,
                     'Price': price,
                     'Fuel':fuel,
                     'Year':year,
                     'Transmission':transmission,
                     'Owners':no_of_owners,
                     'kms driven':km_driven
                     })

In [12]:
df

,Brand,Price,Fuel,Year,Transmission,Owners,kms driven
0,2017 Maruti Alto 800 VXI,"₹ 2,75,099",Petrol,August 2017,MANUAL,Second Owner,"12,676 km"
1,2013 Maruti Swift ZDI,"₹ 3,94,199",Diesel,May 2013,MANUAL,First Owner,"24,022 km"
2,2017 Maruti Alto 800 LXI,"₹ 2,82,999",Petrol,September 2017,MANUAL,First Owner,"18,113 km"
3,2017 Maruti Alto 800 LXI,"₹ 3,09,499",Petrol,June 2017,MANUAL,First Owner,"8,501 km"
4,2013 Hyundai Santro Xing GL PLUS,"₹ 2,31,299",Petrol,November 2013,MANUAL,Second Owner,"35,726 km"
...,...,...,...,...,...,...,...
995,2010 Ford Endeavour 2.5L 4X2,"₹ 3,56,099",Diesel,January 2010,MANUAL,Fourth Owner,"1,15,143 km"
996,2012 Toyota Fortuner 3.0 AT 4X2,"₹ 10,62,399",Diesel,April 2012,AUTOMATIC,First Owner,"1,21,632 km"
997,2014 Maruti Swift Dzire VDI BS IV,"₹ 3,89,999",Diesel,March 2014,MANUAL,First Owner,"29,626 km"
998,2011 Maruti Alto K10 VXI,"₹ 1,78,099",Petrol,September 2011,MANUAL,First Owner,"47,593 km"
999,2010 Maruti Swift Dzire ZXI 1.3,"₹ 3,00,199",Petrol,November 2010,MANUAL,First Owner,"45,983 km"

In [13]:
df.to_excel('Car_prices5.xlsx', index = False)

In [4]:
url1="https://www.cars24.com/buy-used-cars-gurgaon/?itm_source=Cars24Website&itm_medium=sticky_header"

In [5]:
driver.get(url1)

In [9]:
    df=pd.DataFrame({'Brand':brand,
                     'Price': price,
                     'Fuel':fuel,
                     'Year':year,
                     'Transmission':transmission,
                     'Owners':no_of_owners,
                     'kms driven':km_driven
                     })

In [10]:
df.to_excel('Car_prices6.xlsx', index = False)

In [4]:
url2 = "https://www.cars24.com/buy-used-cars-mumbai/?itm_source=Cars24Website&itm_medium=sticky_header"

In [5]:
driver.get(url2)

In [9]:
    df=pd.DataFrame({'Brand':brand,
                     'Price': price,
                     'Fuel':fuel,
                     'Year':year,
                     'Transmission':transmission,
                     'Owners':no_of_owners,
                     'kms driven':km_driven
                     })

In [11]:
df.to_excel('Car_prices7.xlsx', index = False)

In [12]:
url3 = "https://www.cars24.com/buy-used-cars-pune/?itm_source=Cars24Website&itm_medium=sticky_header"

In [13]:
driver.get(url3)

In [17]:
    df=pd.DataFrame({'Brand':brand,
                     'Price': price,
                     'Fuel':fuel,
                     'Year':year,
                     'Transmission':transmission,
                     'Owners':no_of_owners,
                     'kms driven':km_driven
                     })

In [18]:
df.to_excel('Car_prices8.xlsx', index = False)

In [4]:
url4 = "https://www.cars24.com/buy-used-cars-bengaluru/?itm_source=Cars24Website&itm_medium=sticky_header"

In [5]:
driver.get(url4)

In [9]:
    df=pd.DataFrame({'Brand':brand,
                     'Price': price,
                     'Fuel':fuel,
                     'Year':year,
                     'Transmission':transmission,
                     'Owners':no_of_owners,
                     'kms driven':km_driven
                     })

In [10]:
df.to_excel('Car_prices9.xlsx', index = False)

In [4]:
url5 = "https://www.cars24.com/buy-used-cars-chandigarh/?itm_source=Cars24Website&itm_medium=sticky_header"

In [5]:
driver.get(url5)

In [6]:
brand=[]
year=[]
fuel=[]
transmission=[]
km_driven=[]
no_of_owners=[]
price=[]

In [7]:
urls=driver.find_elements_by_xpath("//div[@class='row']/div/div/div[2]/a")#collecting urls of all the cars
UR=[]
for i in urls[:1200]:
    UR.append(i.get_attribute('href'))#getting the url of first 100 car
for url in UR:#loop for every car in the list
    driver.get(url)
        
        
    try:                  #exception handling for nosuchelementexception
        brands=driver.find_element_by_xpath("//p[@class='_3Uk5w']")#locating the brand name
        brand.append(brands.text)
        
    except NoSuchElementException   as e:
        brand.append("NaN")
        
    
    try:                  #exception handling for nosuchelementexception
        kms_driven=driver.find_element_by_xpath("//div[@class='row']/div/div/div/p")#locating the brand name
        km_driven.append(kms_driven.text)
        
    except NoSuchElementException   as e:
        km_driven.append("NaN")
        
    try:                  #exception handling for nosuchelementexception
        years=driver.find_element_by_xpath("//div[@class='row']/div[2]/div/div/p")#locating the brand name
        year.append(years.text)
        
    except NoSuchElementException   as e:
        year.append("NaN")
    
    try:                  #exception handling for nosuchelementexception
        owners=driver.find_element_by_xpath("//div[@class='row']/div[3]/div/div/p")#locating the brand name
        no_of_owners.append(owners.text)
        
    except NoSuchElementException   as e:
        no_of_owners.append("NaN")
    
    try:                  #exception handling for nosuchelementexception
        fuels=driver.find_element_by_xpath("//div[@class='row']/div[4]/div/div/p")#locating the brand name
        fuel.append(fuels.text)
        
    except NoSuchElementException   as e:
        fuel.append("NaN")
    
    try:                  #exception handling for nosuchelementexception
        trans=driver.find_element_by_xpath("//div[@class='row']/div[5]/div/div/p")#locating the brand name
        transmission.append(trans.text)
        
    except NoSuchElementException   as e:
        transmission.append("NaN")
        
        
    try:                  #exception handling for nosuchelementexception
        prices=driver.find_element_by_xpath("//h4[@class='_3AzX6']")#locating the brand name
        price.append(prices.text)
        
    except NoSuchElementException   as e:
        price.append("NaN")

In [8]:
len(brand)

1170

In [9]:
    df=pd.DataFrame({'Brand':brand,
                     'Price': price,
                     'Fuel':fuel,
                     'Year':year,
                     'Transmission':transmission,
                     'Owners':no_of_owners,
                     'kms driven':km_driven
                     })

In [10]:
df.to_excel('Car_prices10.xlsx', index = False)